.header {
	background-image: url(../images/portada.jpg);
	background-size: cover;
	height: 600px;
}

.header h1 {
	margin-top:  40vh;
	text-align: center;
}

.header p {
	margin-top:  5vh;
	text-align: center;
}


