.navbar {
	margin-bottom: 0;
	border-bottom: solid 5px #2358BD;
	box-shadow: 0px 3px 5px #00000036;
	border-radius: 0;
	background-color: #FFFFFF;
	background-image: none;
	background-image: none;
	background-image: none;
}

.navbar-header {
	height: 80px;
}

.logo {
	max-width: 300px;
	margin-left: 10vh;
}

.navbar-right {
	margin-top: 1%;
	margin-right: 10vh;
}

.navbar-default .navbar-nav>li>a {
	color: #2358BD;
}